/** {

}*/

html, body {
  height: 100%;
}

#UserInput {
}

#GroupAggro, #LinkAggro{
  border-style: solid;
  height: 100%;
}

#TableHeader {
  display: flex;
  justify-content: space-between;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #d1d1d1;
}

.Event {
  margin-top: 1em;
  border-style: dotted;
}

#Event1 .EventName {
  color: red;
}
