/** {

}*/

html, body {
  height: 100%;
}

footer {
  margin-top: 200px;
  width: 100%;
  color: #ffffff;
}

#LinkAggro{
  height: 100%;
  padding: .5em;
}

#TableHeader {
  display: flex;
  justify-content: space-between;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #d1d1d1;
}

.EventList {
  /*display: flex;
  flex-wrap: wrap;*/
  /*justify-content: space-around;*/
}

.Event {
  height: 350px;
  margin-top: .5em;
}

.EventName {
  height: 85px;
}

.EventInfo {
  border-top: 1px solid #f64060;
  width: 100%;
}

.Headers {
  background: #f64060;
  padding: .5em;
}

#LinkAggro {
  margin-top: 2em;
}
.NameofSite {
  color: #ffffff;
  line-height: 100%;
  margin-bottom: 0;
  font-weight: 600;
}

.DescofSite {
  color: #fcc6c1;
  margin-bottom: 10px;
}

.GroupInfo{
  display: flex;
  align-items: center;
  height: 100px;
  margin-top: 1em;
  color: #757575;
}
.GroupPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  max-width: 100px;
}

.MissingPhoto {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

img{
  max-height: 100px;
  max-width: 100px;
}

h6, h5 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

#TinyUrlHeader {
  color: white;
  /*margin: 1em;*/
  /*width: 100%;*/
  position: absolute;
}

.TinyNote {
  margin-left: .5em;
}

.Copy {
  margin: 0;
}

.RemoveMargin{
  margin: 0;
}
