/** {

}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*Header Styling*/
#Headers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f64060;
  padding: .5em;
  width: 100%;
}

.NameofSite {
  color: #ffffff;
  line-height: 100%;
  margin-bottom: 0;
  font-weight:900;
}

.DescofSite {
  color: #fcc6c1;
  margin-bottom: 10px;
}

/*SubHeader Style*/
#SubHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


/*Event List Styling*/
.Event {
  display: flex;
  flex-direction: row;
  border-style: groove;
  margin-left: .5em;
  -webkit-transition: padding .5s;
}

.Event:link {
  color:black;
  text-decoration: none;
}

.Event:visited {
    color: black;
    text-decoration: none;
    border-color: white;
}

.EventLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventTimeDate  {
  margin-left: 1em;
  margin-right: 1em;
}

.EventRight {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.EventName {
  font-weight: 900;
}

.GroupName {
  color: gray;
  padding-left: .5em;
}

.EventName, .GroupName , .EventLocation {
  margin: 0;
}

/*Event Selection Effects*/
.EventSelected {
  background-color: blue;
}

.EventHovered {
  padding: .5em;
}

footer {
  margin-top: 200px;
  width: 100%;
  background: #f64060;
  color: #ffffff;
}
